
body
    {
	background: #000000;
	font-family: Arial;
	color: powderblue;
	font-size: 150%;
	aling: center;
	
    }

h1
    {
        background: darkred;
	font-family: verdana;
	font-size: 200%;
	
    }

a
    {
	color: #00FF00;
	target: _blank;
    }
